# Représentation de données : les types construits
Dans ce chapitre nous allons découvrir les types dits "construits" en Python, à savoir les p-uplets (ou tuples), les listes et les dictionnaires.

**Définition :** *Structures de données*

Une structure de données est un ensemble d'éléments (appartenant aux types de base ou eux-même étant des types structurés) **organisées** de manière à faciliter l'accès et l'utilisation de leurs éléments (on parle aussi de conteneur).

## Les p-uplets ou tuples

C'est une collection **non-modifiable** d'éléments organisés par index comportant un nombre fixe d'éléments.

Un tuple permet de représenter facilement un vecteur, des coordonnées.

Un tuple peut être défini :

- par extension, c'est-à-dire que l'interpréteur détermine que l'on définit un tuple en utilisant la syntaxe qui leur est propre, à savoir **entre parenthèses**, les éléments étant séparés par des virgules, par exemple `t = (1, 2, 3)`
- par intention, c'est-à-dire que l'on précise le type de la variable en l'affectant en utilisant le mot clé `tuple`, par exemple `tt = tuple([4, 5, 6])` crée le tuple `(4, 5, 6)` à partir de la liste `[4, 5, 6]`.

In [17]:
t = (1, 2, 3) # Définition par extension
print(t)
tt = tuple((4,5,6)) # Définition par intention
print(tt)
ttt=(1,2.0,"3",True,(1,2,3)) # Les éléments du tuple sont de différents types
print(ttt)

(1, 2, 3)
(4, 5, 6)
(1, 2.0, '3', True, (1, 2, 3))

On accède à un élément d'un tuple par son indice, attention le premier élément à pour indice $0$. En Python on peut accéder au dernier élément du tuple avec l'indice $-1$.

In [18]:
print(t[0])
print(tt[2])
print(tt[-1])

1
6
6

La fonction `len()` (pour length) permet de connaître le nombre d'éléments dans un tuple.

In [19]:
len(ttt)

5

### Exercice 1
Écrire un programme qui affiche tous les éléments de `ttt` ainsi que leur type (fonction `type()`) en utilisant une boucle `for`.

**Attention**

In [21]:
t[1] = 3 # les tuples ne sont pas modifiables

TypeError: 'tuple' object does not support item assignment

### Exercice 2

Soit le tuple suivant : `(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)`

Écrire un programme qui écrit les 5 premières valeurs puis les 5 dernières.

## Les tableaux ou listes
C'est une collection **modifiable** d'éléments organisés par index.

Une liste peut être définie :

- par extension, c'est-à-dire que l'interpréteur détermine que l'on définit une liste en utilisant la syntaxe qui leur est propre, à savoir **entre crochets**, les éléments étant séparés par des virgules, par exemple `l = [1, 2, 3]`
- par intention, c'est-à-dire que l'on précise le type de la variable en l'affectant en utilisant le mot clé `list`, par exemple `ll = list()` crée la liste vide `[]`.

In [23]:
l = [1,2,3] # définition par extension
print(l)
ll = list() # définition par intention
print(ll)

[1, 2, 3]
[]

In [24]:
l[0]

1

### Opérations supplémentaires par rapport aux tuples

Contrairement aux tuples, on peut modifier les éléments d'une liste, ajouter des éléments à la fin d'une liste, supprimer des éléments d'une liste.

In [25]:
l[1] = 4 # modifie le deuxième élément de la liste
print(l)

[1, 4, 3]

In [26]:
ll.append(5) # ajoute 5 à la fin de la liste
print(ll)
ll.append(8)
print(ll)

[5]
[5, 8]

In [27]:
del l[1] # supprime le deuxième élément de la liste
print(l)

[1, 3]

### Exercice 3
Écrire une fonction `moyenne(n)` qui demande à l'utilisateur de rentrer `n` valeurs entières qui seront enregistrées dans une liste, puis qui renvoie la moyenne des valeurs de la liste

### Exercice 4
Écrire une fonction `plusproche(t,n)` qui prend en paramètres un tuple d'entiers `t` et un entier `n` et qui renvoie l'entier de `t` qui est le plus proche de `n`. S'il y a plusieurs nombres qui conviennent, peu importe lequel sera renvoyé. Par exemple, si on donne :

`t = (2, 1, -5, 8, 3, -7)
n = 5`

alors la fonction devra renvoyer 3 car 3 est l'entier de `t` le plus proche de `n`(qui vaut 5). On pourra utiliser la fonction `abs()` qui renvoie la valeur absolue d'un entier relatif.

In [30]:
t = (2, 1, -5, 8, 3, -7)
assert(plusproche(t, 5) == 3)
assert(plusproche(t, -4) == -5)
assert(plusproche(t, 12) == 8)
assert(plusproche(t, 2) == 2)
assert(plusproche(t, -1) == 1)
assert(plusproche(t, -15) == -7)

### Exercice 5
Écrire une fonction `differences(l)` qui prend en paramètres une liste d'entiers `l` et qui renvoie une liste `r` telle que `r[i]` soit égal à `l[i+1]-l[i]`. Par exemple, si `t = [1, 4, 2, 8, 25, 28]`, on aura en sortie `r = [3, -2, 6, 17, 3]`.

Vous penserez à ajouter un jeu de test avec quelques `assert()` pour vérifier votre programme.

In [ ]:
assert(...) # à compléter
assert(...)
assert(...)
assert(...)
assert(...)

## Opérations transversales aux tuples et aux listes (et aux chaînes de caractères)
Certaines fonctionnalités peuvent être utilisées de manière semblable sur plusieurs types construits si cela ne dénature pas leur fonctionnement.

In [32]:
t = (1,2,3)
l = [1,2,3]
st = 'Python'

### Concaténation

In [33]:
t+t, l+l, st+st

((1, 2, 3, 1, 2, 3), [1, 2, 3, 1, 2, 3], 'PythonPython')

In [34]:
3*t, 2*l, 4*st

((1, 2, 3, 1, 2, 3, 1, 2, 3), [1, 2, 3, 1, 2, 3], 'PythonPythonPythonPython')

### Appartenance

In [35]:
2 in t, 3 in l, 't' in st # ... est membre de ..., renvoie True ou False

(True, True, True)

In [36]:
4 in t, 5 in l, 's' in st

(False, False, False)

### Indexation

In [37]:
# Premier élément
t[0], l[0], st[0]

(1, 1, 'P')

In [38]:
# Dernier élément
t[-1], l[-1], st[-1]

(3, 3, 'n')

In [39]:
#Tranche (slice)
t[1:2], l[1:3], st[2:5] # attention, l'intervalle est fermé à gauche et ouvert à droite !

((2,), [2, 3], 'tho')

In [40]:
#Tout à partir de l'index 1 (inclus)
t[1:], l[1:], st[1:]

((2, 3), [2, 3], 'ython')

In [41]:
#Tout jusqu'à l'index 2 (exclus)
t[:2], l[:2], st[:2]

((1, 2), [1, 2], 'Py')

In [42]:
#Un élément sur deux
t[::2], l[::2], st[::2]

((1, 3), [1, 3], 'Pto')

### Exercice 6
Inverser la chaîne `'Salut'`

### Exercice 9
Écrire une fonction `palindrome(mot)` qui teste si `mot` est un palindrome et renvoie `True` ou `False` (pour simplifier on supposera que `mot` est écrit en minuscule et sans accents).

In [45]:
assert(palindrome('kayak')==True)
assert(palindrome('david')==False)
assert(palindrome('radar')==True)
assert(palindrome('test')==False)
assert(palindrome('ressasser')==True)

### Taille d'une séquence

In [46]:
len(t), len(l), len(st)

(3, 3, 6)

### Index de la première occurence d'une valeur

In [47]:
t.index(3), l.index(1), st.index('o')

(2, 0, 4)

### Nombre d'occurence d'une valeur

In [48]:
t.count(2), l.count(1), st.count('n')

(1, 1, 1)

### Valeur minimale

In [49]:
min(t), min(l), min(st)

(1, 1, 'P')

### Valeur maximale

In [50]:
max(t), max(l), max(st)

(3, 3, 'y')

### Somme des éléments (si ce sont des nombres)

In [51]:
sum(t), sum(l)

(6, 6)

## Tableau à 2 dimensions
On peut représenter un tableau comportant des lignes et des colonnes grâce à une liste dont les éléments sont des listes de même taille représentants les lignes du tableau.

In [52]:
tableau = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]] # tableau comporte 4 lignes et 3 colonnes
print(tableau)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [53]:
# Deuxième ligne du tableau
tableau[1]

[4, 5, 6]

In [54]:
# Valeur située à la 1ère ligne, 3ème colonne
tableau[0][2]

3

In [55]:
# Valeur située à la 4ème ligne, 1ère colonne
tableau[3][0]

10

### Exercice 10
Écrire un programme qui affiche tout les éléments de `tableau`

### Exercice 11
Écrire un programme qui demande 2 entiers $X$ et $Y$ et qui génère un tableau à 2 dimensions dont les éléments situés à la i-ème ligne et la j-ième colonne valent $i*j$ (i varie de 0 à $X-1$ et j de 0 à $Y-1$).

Par exemple si on donne `3,5`, le programme retourne `[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]`.

## Les dictionnaires
Les dictionnaires sont des structures dites "associatives" dans le sens où elles associent des "clés" à des "valeurs". La clé étant l'index permettant d'accéder à la valeur.

Les dictionnaires sont des structures modifiables.

In [58]:
d = {"A":1, "B":2, "C":3} # définition par extension
dd = dict() # définition par intention

In [59]:
d["B"] # la clé permet d'accéder à la valeur

2

In [60]:
d["C"] = 5 # modification d'une valeur
d

{'A': 1, 'B': 2, 'C': 5}

In [61]:
del d["A"] # suppression d'une valeur
d

{'B': 2, 'C': 5}

In [62]:
d.keys() # liste des clés

dict_keys(['B', 'C'])

In [63]:
d.values() # liste des valeurs

dict_values([2, 5])

In [64]:
d.items() # liste des couples (clé, valeur)

dict_items([('B', 2), ('C', 5)])

## Compréhension de liste/dictionnaire
On a vu comment créer des listes, des dictionnaires ou des ensembles par extension ou par intention. On a également vu comment utiliser des boucles et des structures de contrôle.

Python permet de combiner ces 2 fonctionnalités en créant des structures complexes à partir d'autres structures ou d'itérateurs. C'est ce qu'on appelle des "compréhensions".

### Compréhension de liste

In [65]:
liste=[x**2 for x in range(-5,5)] # Compréhension de liste avec itérateur
liste

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16]

In [66]:
[x/2 for x in liste if x!=0] # Compréhension de liste avec condition

[12.5, 8.0, 4.5, 2.0, 0.5, 0.5, 2.0, 4.5, 8.0]

On peut aussi chaîner les boucles.

In [67]:
[str(x)+y for x in range(3) for y in ['A','B','C']]

['0A', '0B', '0C', '1A', '1B', '1C', '2A', '2B', '2C']

### Compréhension de dictionnaire
On manipule de manière indépendante la clé et la valeur.

In [68]:
{"Carré de "+str(x):x**2 for x in range(5)}

{'Carré de 0': 0,
 'Carré de 1': 1,
 'Carré de 2': 4,
 'Carré de 3': 9,
 'Carré de 4': 16}

## Quelques exercices supplémentaires pour les plus rapides

### Uniques

Donnez une fonction qui indique si, dans une liste donnée, chaque valeur est unique ou pas. Par exemple, dans le cas de la liste `[1, 5, 2, 6, 3, 5]`, la réponse doit être `non`. Au contraire dans le cas de la liste `[1, 5, 2, 6, 3, 8]`, le réponse doit être `oui`.

### Sous liste

Étant donné une liste `l` qui ne contient que des nombres, par exemple : `[1, 3, 2, 3, 2, 11, 9, 2, 7, 6, 9, 8, 4, 2, 7]` et une seconde liste `m` ne contenant aussi que des nombres, par exemple : `[1, 2, 7, 9, 2]` on dit que la liste `m` est un sous liste de `l` si en sélectionnant uniquement certaines cases de `l` (mais en n’en changeant pas l’ordre), on obtient une nouvelle liste qui est identique à `m`.
Dans l’exemple qui précède, `m` est effectivement une sous liste de `l` (en prenant les cases 0, 4, 8, 10 et 13).
En revanche, `[1, 7, 2, 9]` n'est pas une sous liste de `l`.
Écrivez une fonction qui prend deux listes `l` et `m` en paramètres et indique si `m` est une sous liste de `l`.

### Arithmancie

Écrivez une fonction qui associe un nombre à un mot. Le nombre associé à un mot est la somme des nombres associés à chacune des lettres du mot. Le nombre associé à A est 1, le nombre associé à B est 2 et le nombre associé à Z est 26. Aide : voir la fonction `ord`

### Constante de Champernowne

La [constante de Champernowne](https://fr.wikipedia.org/wiki/Constante_de_Champernowne) vaut : 0,1234567891011121314151617181920.... Quel est son 2019e chiffre après la virgule (le premier est un 1) ?